@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=VT323&display=swap");
@import "../components/index.scss";

* {
  font-family: "VT323", monospace;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  color: black;
  image-rendering: pixelated;
}

body {
  margin: 0;
  padding: 0;
  background: url("/static/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-size: 18px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
.container {
  padding: 20px;
}
